/* Overall */
* {
    box-sizing: border-box;
}

@font-face {
    font-family: "vtks chalk";
    src: url("../css/vtks chalk 79.ttf") format("truetype");
}

body {
    height: 650px;
    overflow: hidden;
}

/* ----------------------------------------- */

.background {
    position: relative;
    height: 100%;
    width: 100%;
    border: 30px ridge wheat;
}

/* titleScreen */

.titleScreen {
    display: none;
}

.intro {
    position: absolute;
    top: -430px;
    left: 365px;
    color: rgb(140, 91, 0);
    font-family: none;
    font-size: 60px;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.start {
    position: absolute;
    top: -210px;
    left: 300px;
    height: 100px;
    width: 500px;
    border: none;
    border-radius: 30px;
    background: rgb(123, 0, 0);
    color: white;
    font-family: none;
    font-size: 30px;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}

.start:hover {
    background: rgb(54, 0, 0);;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

/* Character Screen */

.barista {
    display: none;
}

.barista img {
    position: absolute;
}

.barista_screen_title {
    margin-top: -610px;
    margin-left: 245px;
    color: rgb(56, 38, 4);
    font-size: 65px;
}

.b_boy {
    top: -550px;
    left: 18px;
    height: 600px;
    width: 500px;
}

.b_girl {
    top: -550px;
    left: 60px;
    height: 600px;
    width: 500px;
}

.b_boy_name {
    position: absolute;
    top: -185px;
    left: 35px;
    height: 65px;
    width: 450px;
    background: rgb(140, 91, 0);
    border-radius: 30px;
    color: rgb(250, 231, 196);
    text-align: center;
    line-height: 2;
    font-size: 33px;
    z-index: 1;
}

.b_girl_name {
    position: absolute;
    top: -185px;
    left: 80px;
    height: 65px;
    width: 450px;
    background: rgb(140, 91, 0);
    border-radius: 30px;
    color:rgb(250, 231, 196);
    text-align: center;
    line-height: 2;
    font-size: 33px;
    z-index: 1;
}

.b_boy_name:hover {
    background: rgb(250, 231, 196);
    color: rgb(140, 91, 0);
}

.b_girl_name:hover {
    background: rgb(250, 231, 196);
    color: rgb(140, 91, 0);
}

/* Level Select screen */
.level_select_title {
    position: absolute;
    top: -615px;
    left: 385px;
    color: rgb(250, 231, 196);
    font-family: "vtks chalk";
    font-size: 100px;
    text-decoration: underline;
}

h2 {
    text-decoration: underline;
    font-size: 35px;
}

ul {
    display: inline-block;
}

li {
    font-size: 25px;
}

li:hover {
    text-decoration: underline;
}

.level_select {
    position: absolute;
    top: 200px;
    left: 10px;
    padding: 0px 79px;
    color: white;
    font-family: "vtks chalk";
    display: none;
}

.down {
    margin-top: 200px;
}

.unavailable:active {
    color: red;
}

.completed:active {
    color: green;
}

.gameComplete {
    color: rgb(150, 128, 0);
}

/* Money and Coffee Served Display */

.adjust {
    position: absolute;
    top: 40px;
    left: 800px;
    width: 445px;
    transform: rotate(-15deg);
}

.adjust h2 {
    font-size: 25px;
}

.adjust ul {
    list-style-type: none;
}

.adjust li {
    font-size: 23px;
}

.adjust li:hover {
    text-decoration: none;
}

/* Store */
.storeBtn {
    position: absolute;
    top: 65px;
    left: 100px;
    color: rgb(255, 153, 0);
    font-family: "vtks chalk";
    font-size: 50px;
    text-decoration: none;
    z-index: 1;
    transform: rotate(-15deg);
    display: none;
}

.storeBtn:hover {
    text-decoration: underline;
}

.store_screen_title {
    position: absolute;
    top: -600px;
    left: 650px;
    color: rgb(255, 255, 255);
    font-family: "Times New Roman";
    font-size: 80px;
    text-decoration: underline;
}

.shrink {
    font-size: 50px;
}

.moneyAvailable {
    position: absolute;
    top: -550px;
    font-family: "Times New Roman";
    color: white;
    text-transform: none;
}

.store {
    display: none;
}

.store img {
    position: absolute;
}

.price {
    position: absolute;
    top: -465px;
    height: 50px;
    width: 70px;
    background: rgb(255, 217, 158);
    color: red;
    border: 3px solid black;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
}

.CM {
    left: 115px;
}

.CB {
    left: 360px;
}

.M {
    top: -300px;
    left: 590px;
}

.coffeeMachine {
    top: -413px;
    left: 60px;
    height: 155px;
}

.coffeeBeans {
    top: -400px;
    left: 320px;
    height: 150px;
}

.mug {
    top: -313px;
    left: 670px;
    height: 70px;
}

.bought {
    opacity: 0.5;
}

.cantBuy:hover {
    animation-name: flash;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

@keyframes flash {
    100% {
        opacity: 0.5;
    }
}

/* Store Back Btn */

.backBtnST {
    position: absolute;
    margin-top: 245px;
    margin-left: 820px;
    height: 100px;
    width: 255px;
    border: none;
    background: none;
    color: rgb(255, 194, 51);
    font-family: 'Times New Roman';
    font-size: 35px;
    text-decoration: none;
    transform: none;
}

.backBtnST:hover {
    text-decoration: underline;
}

/* level select back button */
.backBtnLS {
    position: absolute;
    top: -140px;
    left: 875px;
    height: 100px;
    width: 300px;
    border: none;
    background: none;
    color: rgb(255, 255, 255);
    font-family: 'vtks chalk';
    font-size: 30px;
    text-align: left;
}

/* gameplay layout */
.gameplayTitle {
    color: white;
    font-family: "Times New Roman";
    font-size: 75px;
    font-style: oblique;
    text-decoration: none;
}

.pointUp {
    position: absolute;
    top: -172px;
    left: 50px;
    font-size: 25px;
    font-family: 'vtks chalk';
    color: rgb(242, 73, 73);
}

.level {
    position: relative;
    display: none;
}

.level img {
    position: absolute;
}

.counter {
    top: -262px;
    left: -27px;
    width: 900px;
    height: 230px;
}

.coffee_maker {
    top: -415px;
    height: 155px;
}

.coffee_beans {
    top: -405px;
    left: 630px;
    height: 145px;
}

.coffee {
    top: -315px;
    left: 308px;
    height: 60px;
    z-index: 1;
}

.deco {
    top: -215px;
    left: 335px;
    height: 170px;
    z-index: 1;
}

.pourfx_BB {
    top: -350px;
    left: 315px;
    height: 80px;
    width: 20px;
    transform: rotate(-4deg);
}

.pourfx_BG {
    top: -330px;
    left: 323px;
    height: 60px;
    width: 20px;
    transform: rotate(-6deg);
}

/*gameplay characters*/
.characterPos_male {
    top: -532px;
    left: 196px;
    height: 500px;
}

.characterPos_female {
    top: -565px;
    left: 230px;
    height: 500px;
}


.fill_bar {
    position: relative;
    top: -470px;
    left: 900px;
    height: 300px;
    width: 150px;
    background: rgb(110, 66, 0);
    border: 15px solid black;
    border-radius: 30px;
}

.fill {
    position: absolute;
    margin-top: -8px;
    height: 280px;
    width: 122px;
    background: black
}

.marginTop {
    margin-top: -8%;
}

/* game play back button */

.backBtnGP {
    position: absolute;
    top: -200px;
    left: 535px;
    height: 150px;
    width: 300px;
    border: none;
    background: none;
    color: rgb(255, 58, 58);
    font-family: 'vtks chalk';
    font-size: 40px;
    text-align: left;
    z-index: 1;
}

/* Loading Screen */

.fadeBackClass {
    position: relative;
    top: -570px;
    left: 390px;
    height: 500px;
    width: 500px;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    opacity: 0;
    display: none;
}

.l_CupClass {
    position: absolute;
    background: url(../media/coffeeCup.png);
    height: 512px;
    width: 512px;
    top: -12px;
    left: 7px;
    display: none;
}

.l_SteamClass {
    position: absolute;
    background: url(../media/coffeeSteam.png);
    background-size: 300px 300px;
    height: 290px;
    width: 300px;
    top: -44px;
    left: 80px;
    animation-name: steaming;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0.2;
    display: none;
}

.l_WordsClass {
    position: absolute;
    top: 310px;
    left: 145px;
    font-family: 'Times New Roman';
    font-size: 40px;
    color: rgb(78, 38, 9);
    text-transform: uppercase;
    animation-name: slowBlink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    opacity: 0;
    display: none;
}

.explains {
    top: 310px;
    left: 120px;
    font-size: 40px;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes steaming {
    100% {
        background-position: 0px -408px;
    }
}

@keyframes slowBlink {
    100% {
        opacity: 1;
    }
}

/* Icons made by <a href="https://www.flaticon.com/" from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */
